<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoreLayer.Properties.Settings.SendMailDbConnectionString"
            connectionString="Data Source=DESKTOP-5KB93N3\SQLEXPRESS;Initial Catalog=SendMailDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>